<link rel="stylesheet" href="../../images/pracownik.css">
  <div class="d-flex align-items-center"> 
    <div class="me-auto">
        <a href="/dashboardUser">
            <img  src="../../images/Logo.svg" alt="" width="120" height="120" style = "float: left;">
        </a>
    </div>
    <div style="margin-top: 12px; margin-right: 10px;">
        <p class="lead">Jesteś zalogowany jako: <b><%= tasks[0].worker %> </b></p>
    </div>
    <div class = "">
      
        <a href="/users/logout" class="btn btn-secondary rounded-pill">Wyloguj</a>
    </div>
</div> 


  <div class="fw-bold fs-1 container p-3 my-3 bg-warning text-white text-center rounded-pill shadow-lg">
    Szczegóły zadania
  </div>
  <div style = "width: 60%" class = "p-3 mt-5 shadow-lg mx-auto">
    <div style = "width: fit-content;" class="ms-0 d-flex justify-content-start fs-3  container my-3   text-primary">
      <div>
        Zadanie: <b name="task"><%=tasks[0].name %></b>
      </div>
    </div>
    <div style = "width: fit-content;" class="ms-0 d-flex justify-content-start fs-4 container my-3   text-secondary">
      <div>
        Projekt: <b name="project"><%=tasks[0].project %></b>
      </div>
    </div>
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        
        <h2> </h2>
    </li>
  </ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-projects" role="tabpanel" aria-labelledby="pills-home-tab">
      <form action="/edit_status/<%= tasks[0]._id %>" method="POST">
        <div class="form-group">
          <label for="start-date">Opis zadania:</label>
      <b><%=tasks[0].comment%></b>  
        </div>
        <div style = "width: 30%;" class="form-group ">
            <label for="name">Zmien status zadania</label>
            <select class = "form-select" name="status" id="status">
                <option value="" selected disabled hidden>Zmień status</option>
                <option value="Nierozpoczęte">Nierozpoczęte</option>
                <option value="W trakcie">W trakcie</option>
                <option value="Zakończone">Zakończone</option>
          </select>
        </div>
        <div class="form-group">
          <label for="start-date">Data rozpoczęcia:</label>
      <b><%=tasks[0].startDate %></b>  
        </div>
        <div class="form-group">
            
          <label for="end-date">Data zakonczenia:</label>
          <b><%=tasks[0].endDate %></b>  
        </div>
        <div class="form-group">
            <label for="name">Priorytet:</label>
            <b><%=tasks[0].priority %></b>
          </div>
          
      <button type="submit" id="click" class="btn btn-warning" style = "color: white; float: right; width: 200px; margin-top: 25px">Zapisz zmianę statusu</button>
      </form>
      <a href="/dashboardUser/<%= tasks[0].worker %>"><button  class="btn btn-warning" style = "color: white; float: left; width: 200px; margin-top: 25px;">Wróć</button></a>
     

    </div>

